
<div class='tweet'>
  <img class='avatar' src='http://a0.twimg.com/profile_images/1614690021/IMG_1270_1_normal.jpg' />
  <span class='author'>cirpo</span>
  Devs-gemellaggio <a href='https://twitter.com/@webdebresa'>@webdebresa</a> programmers in Padua? <a href='http://t.co/dRGRdN6x'>http://t.co/dRGRdN6x</a>
  <a class='date' href='https://twitter.com/cirpo/status/191256306487795713'>
    <nobr>
      &mdash; 14 Apr
    </nobr>
  </a>
</div>

<div class='tweet'>
  <img class='avatar' src='http://a0.twimg.com/profile_images/58236097/large-png-antialiased_normal.png' />
  <span class='author'>Ruby Inside</span>
  Happy birthday to you, happy birthday to you, happy birthday dear Matz, happy birthday to you! (Yes, <a href='https://twitter.com/@yukihiro_matz'>@yukihiro_matz</a> is 47 today.)
  <a class='date' href='https://twitter.com/RubyInside/status/191235666020020224'>
    <nobr>
      &mdash; 14 Apr
    </nobr>
  </a>
</div>

<div class='tweet'>
  <img class='avatar' src='http://a0.twimg.com/profile_images/878913916/ogeidix_normal.jpg' />
  <span class='author'>Diego Giorgini</span>
  meeting Leonardo Chiariglione, chairman and co-founder of MPEG @ Liceo Scientifico N. Tron <a href='http://t.co/7XmDvoN9'>http://t.co/7XmDvoN9</a>
  <a class='date' href='https://twitter.com/ogeidix/status/191081259215241217'>
    <nobr>
      &mdash; 14 Apr
    </nobr>
  </a>
</div>

<div class='tweet'>
  <img class='avatar' src='http://a0.twimg.com/profile_images/878913916/ogeidix_normal.jpg' />
  <span class='author'>Diego Giorgini</span>
  Operation <a href='https://twitter.com/search?q=#ssd'>#ssd</a> started <a href='http://t.co/GrN8LIeR'>http://t.co/GrN8LIeR</a>
  <a class='date' href='https://twitter.com/ogeidix/status/190064418858614784'>
    <nobr>
      &mdash; 11 Apr
    </nobr>
  </a>
</div>

<div class='tweet'>
  <img class='avatar' src='http://a0.twimg.com/profile_images/1261083110/wecampus_normal.jpg' />
  <span class='author'>wecampus.org</span>
  .<a href='https://twitter.com/@riccardowired'>@riccardowired</a> portare la didattica online? non c'è un minuto da perdere, per questo ci stiamo già lavorando! <a href='http://t.co/7GzMfEmj'>http://t.co/7GzMfEmj</a>
  <a class='date' href='https://twitter.com/wecampus/status/190046574590697474'>
    <nobr>
      &mdash; 11 Apr
    </nobr>
  </a>
</div>

<div class='tweet'>
  <img class='avatar' src='http://a0.twimg.com/profile_images/878913916/ogeidix_normal.jpg' />
  <span class='author'>Diego Giorgini</span>
  Make a difference, then a profit: startups for social good <a href='http://t.co/mzoely6x'>http://t.co/mzoely6x</a> - this is really hard but engaging!
  <a class='date' href='https://twitter.com/ogeidix/status/190019535515029504'>
    <nobr>
      &mdash; 11 Apr
    </nobr>
  </a>
</div>
