.tweet
  %img.avatar{:src => "https://twimg0-a.akamaihd.net/profile_images/1261083110/wecampus_normal.jpg"}
  %span.author wecampus.org
  Cosa ci porta la
  %a{:href=>"https://twitter.com/#!/search?q=%23befana"} #befana
  \? In arrivo altri inviti.. Preparatevi a conoscere
  %a{:href=>"https://twitter.com/#!/search?q=%23wecampus"} #Wecampus
  \:)
  %a.date{:href=>"https://twitter.com/#!/wecampus/status/155281662740144128"}
    %nobr
      &mdash; 6 Jan
.tweet
  %img.avatar{:src => "https://twimg0-a.akamaihd.net/profile_images/878913916/ogeidix_normal.jpg"}
  %span.author Diego Giorgini
  Back to Padua, back to study (@ Aula Studio Paolotti)
  %a{:href=>"http://4sq.com/AwibKl"} 4sq.com/AwibKl
  %a.date{:href=>"https://twitter.com/#!/ogeidix/status/155631420486848512"}
    %nobr
      &mdash; 7 Jan    
.tweet
  %img.avatar{:src => "https://twimg0-a.akamaihd.net/profile_images/281448048/PORTRAIT_ALEX_001_close_normal.jpg"}
  %span.author Alex Osterwalder
  Get up! Act! Take responsibility! Be a visionary, game changer, or challenger in 2012 + beyond. Try hard every day. Warning: it's not easy!
  %a.date{:href=>"https://twitter.com/#!/business_design/status/153254711959617536"}
    %nobr
      &mdash; 1 Jan
.tweet
  %img.avatar{:src => "https://twimg0-a.akamaihd.net/profile_images/878913916/ogeidix_normal.jpg"}
  %span.author Diego Giorgini
  Change the game, believe in your dreams and make them real, it's your turn... Happy new year!!
  %a.date{:href=>"https://twitter.com/#!/ogeidix/status/153413278423453697"}
    %nobr
      &mdash; 1 Jan
/ .tweet
/   %img.avatar{:src => "https://twimg0-a.akamaihd.net/profile_images/878913916/ogeidix_normal.jpg"}
/   %span.author Diego Giorgini
/   Arrived in Munich! (@ Haus International Munich)
/   %a{:href=>"http://4sq.com/vzpxVq"} 4sq.com/vzpxVq
/   %a.date{:href=>"https://twitter.com/#!/ogeidix/status/153142141433020416"}
/     %nobr
/       &mdash; 30 Dec