
<div class='tweet'>
  <img class='avatar' src='http://a0.twimg.com/profile_images/870982598/fruktarbo_normal.jpg' />
  <span class='author'>fruktarbo</span>
  27 aprile, un nuovo <a href='https://twitter.com/search?q=#programmersinpadua:'>#programmersinpadua:</a> <a href='https://twitter.com/search?q=#cyberpediatria,'>#cyberpediatria,</a> <a href='https://twitter.com/search?q=#UXdesign'>#UXdesign</a> e <a href='https://twitter.com/search?q=#leanstartup'>#leanstartup</a> - da non perdere! <a href='http://t.co/vcmfNl4n'>http://t.co/vcmfNl4n</a> - pls RT!
  <a class='date' href='https://twitter.com/fruktarbo/status/194364517810044928'>
    <nobr>
      &mdash; 23 Apr
    </nobr>
  </a>
</div>

<div class='tweet'>
  <img class='avatar' src='http://a0.twimg.com/profile_images/529204926/be4809840f3173c82c2490a85fc19110_normal.jpg' />
  <span class='author'>michele franzin</span>
  a new tattoo for my <a href='https://twitter.com/search?q=#mac'>#mac</a> from <a href='https://twitter.com/search?q=#pip.'>#pip.</a> thanks! <a href='https://twitter.com/@ogeidix'>@ogeidix</a> <a href='https://twitter.com/@pigatss'>@pigatss</a> <a href='http://t.co/SSVut5e0'>http://t.co/SSVut5e0</a>
  <a class='date' href='https://twitter.com/realfuzzy/status/192508691340206080'>
    <nobr>
      &mdash; 18 Apr
    </nobr>
  </a>
</div>

<div class='tweet'>
  <img class='avatar' src='http://a0.twimg.com/profile_images/878913916/ogeidix_normal.jpg' />
  <span class='author'>Diego Giorgini</span>
  10 things I learnt picking up a flight - ogeidix's blog <a href='http://t.co/aMUElyQA'>http://t.co/aMUElyQA</a> via <a href='https://twitter.com/@ogeidix'>@ogeidix</a>
  <a class='date' href='https://twitter.com/ogeidix/status/192186238231511040'>
    <nobr>
      &mdash; 17 Apr
    </nobr>
  </a>
</div>

<div class='tweet'>
  <img class='avatar' src='http://a0.twimg.com/profile_images/1614690021/IMG_1270_1_normal.jpg' />
  <span class='author'>cirpo</span>
  Devs-gemellaggio <a href='https://twitter.com/@webdebresa'>@webdebresa</a> programmers in Padua? <a href='http://t.co/dRGRdN6x'>http://t.co/dRGRdN6x</a>
  <a class='date' href='https://twitter.com/cirpo/status/191256306487795713'>
    <nobr>
      &mdash; 14 Apr
    </nobr>
  </a>
</div>

<div class='tweet'>
  <img class='avatar' src='http://a0.twimg.com/profile_images/58236097/large-png-antialiased_normal.png' />
  <span class='author'>Ruby Inside</span>
  Happy birthday to you, happy birthday to you, happy birthday dear Matz, happy birthday to you! (Yes, <a href='https://twitter.com/@yukihiro_matz'>@yukihiro_matz</a> is 47 today.)
  <a class='date' href='https://twitter.com/RubyInside/status/191235666020020224'>
    <nobr>
      &mdash; 14 Apr
    </nobr>
  </a>
</div>
