.tweet
  %img.avatar{:src => "https://twimg0-a.akamaihd.net/profile_images/878913916/ogeidix_normal.jpg"}
  %span.author Diego Giorgini
  I want one! RT
  %a{:href=>"https://twitter.com/gravityblast"} @gravityblast
  yes, you need a mikamai t-shirt!
  %a{:href=>"http://www.mikamaicollection.com"} mikamaicollection.com
  %a{:href=>"https://twitter.com/search?q=%23mikamai"} #mikamai
  %a.date{:href=>"https://twitter.com/ogeidix/status/165185724428201984"}
    %nobr
      &mdash; 2 Feb

.tweet
  %img.avatar{:src => "https://twimg0-a.akamaihd.net/profile_images/1531636180/301692_2293828954163_1502229929_2449623_4475995_n_normal.jpg"}
  %span.author Lorenzo Filippini
  Working on
  %a{:href=>"https://twitter.com/wecampus"} @wecampus
  \? Nope! Just taking a rest!
  %a{:href=>"http://pic.twitter.com/FedkTVaW"} pic.twitter.com/FedkTVaW
  \/cc
  %a{:href=>"https://twitter.com/pigatss"} @pigatss
  %a{:href=>"https://twitter.com/ogeidix"} @ogeidix 
  %a.date{:href=>"https://twitter.com/_Lalo/status/165181431830687744"}
    %nobr
      &mdash; 2 Feb

.tweet
  %img.avatar{:src => "https://twimg0-a.akamaihd.net/profile_images/878913916/ogeidix_normal.jpg"}
  %span.author Diego Giorgini
  I'm back and I'm ready to fight! next goal is
  %a{:href=>"https://twitter.com/search?q=%23inbox0"} #inbox0
  then
  %a{:href=>"https://twitter.com/search?q=%23conquertheworld"} #conquertheworld
  %a.date{:href=>"https://twitter.com/ogeidix/status/164734321180155904"}
    %nobr
      &mdash; 1 Feb 

.tweet
  %img.avatar{:src => "https://twimg0-a.akamaihd.net/profile_images/529204926/be4809840f3173c82c2490a85fc19110_normal.jpg"}
  %span.author Michele Franzin
  si lo so . Lo so... è una nerdata pazzesca, ma erano anni che lo volevo fare.
  %a{:href=>"http://pic.twitter.com/KZ8gKvz1"} pic.twitter.com/KZ8gKvz1
  %a.date{:href=>"https://twitter.com/realfuzzy/status/163274209173307392"}
    %nobr
      &mdash; 28 Jan

/ .tweet
/   %img.avatar{:src => "https://twimg0-a.akamaihd.net/profile_images/878913916/ogeidix_normal.jpg"}
/   %span.author Diego Giorgini
/   Change the game, believe in your dreams and make them real, it's your turn... Happy new year!!
/   %a.date{:href=>"https://twitter.com/#!/ogeidix/status/153413278423453697"}
/     %nobr
/       &mdash; 1 Jan
/ .tweet
/   %img.avatar{:src => "https://twimg0-a.akamaihd.net/profile_images/878913916/ogeidix_normal.jpg"}
/   %span.author Diego Giorgini
/   Arrived in Munich! (@ Haus International Munich)
/   %a{:href=>"http://4sq.com/vzpxVq"} 4sq.com/vzpxVq
/   %a.date{:href=>"https://twitter.com/#!/ogeidix/status/153142141433020416"}
/     %nobr
/       &mdash; 30 Dec