<div class='tweet'>
  <img class='avatar' src='http://a0.twimg.com/profile_images/1978791699/120327-235654_normal.jpg' style="width: 50px" />
  <span class='author'>Giacomo Lacava</span>
  Great Knuth quote on <a href='https://twitter.com/search?q=#pyconuk'>#pyconuk</a> poster: "programming is the art of telling another human what one wants the computer to do"
  <a class='date' href='https://twitter.com/toyg/status/252035014965997569'>
    <nobr>
      &mdash; 29 Sep
    </nobr>
  </a>
</div>

<div class='tweet'>
  <img class='avatar' src='http://a0.twimg.com/profile_images/878913916/ogeidix_normal.jpg' style="width: 50px" />
  <span class='author'>Diego Giorgini</span>
  La sfida è lanciata!! Pensi di essere fra i top 4 <a href='https://twitter.com/search?q=#ruby'>#ruby</a> dev d'Italia? Partecipa a <a href='https://twitter.com/@48rails'>@48rails</a> e vinci un <a href='https://twitter.com/search?q=#kindle_fire!'>#kindle_fire!</a> <a href='http://t.co/Zds8Ae8m'>http://t.co/Zds8Ae8m</a>
  <a class='date' href='https://twitter.com/ogeidix/status/251858615177183232'>
    <nobr>
      &mdash; 28 Sep
    </nobr>
  </a>
</div>

<div class='tweet'>
  <img class='avatar' src='http://a0.twimg.com/profile_images/2592297433/mxxzka6c1fr5a8ndh8oc_normal.png' style="width: 50px" />
  <span class='author'>rails ninja</span>
  Pensi di essere fra i migliori 4 Rails ninja d'Italia? Al <a href='https://twitter.com/search?q=#48rails'>#48rails</a> per te c'è in palio un kindle fire. Partecipa su <a href='http://t.co/W3p8O9F5'>http://t.co/W3p8O9F5</a>
  <a class='date' href='https://twitter.com/48rails/status/251829383877242880'>
    <nobr>
      &mdash; 28 Sep
    </nobr>
  </a>
</div>


<div class='tweet'>
  <img class='avatar' src='http://a0.twimg.com/profile_images/878913916/ogeidix_normal.jpg' style="width: 50px" />
  <span class='author'>Diego Giorgini</span>
  7 Habits of Highly Effective and Successful Entrepreneurs « crowdSPRING Blog <a href='http://t.co/UJMpxnqE'>http://t.co/UJMpxnqE</a>
  <a class='date' href='https://twitter.com/ogeidix/status/248160801943334913'>
    <nobr>
      &mdash; 18 Sep
    </nobr>
  </a>
</div>